<!DOCTYPE html>
<html>
  <head>
    <title>Number Selector</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <form action="http://localhost:5000"   method="post">

    <label> Combien de villes voulez-vous sélectionnées ?</label>
    <input type="number" name="nbVilles" id='nbVilles' min="0" max="200" step="1"/>


    <label> Selon quel type de critère voulez vous trier ces villes de France ?</label>
    <select required id="tirage" name="typetrie">
        <option value="HAUTrang"> Celles qui sont les plus peuplées.</option>
        <option value="MOINSrang">  Celles qui sont les moins peuplées.</option>
        <option value="HAUTsup"> Celles avec les plus grandes superficies. </option>
        <option value="MOINSsup"> Celles avec les plus petites superficies.</option>
    </select>

    <button id="submitButton">Submit</button>
  </form>
  </body>
